#top{
    text-align: center;
}
#top-1{
    color: #3c3c3c;
    font-size: 20px;

}
.dangki input {
    height: 50px;
    width: 280px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid #0f0f0f;
    text-indent: 10px;
    font-size: 18px;
}
.dangki button{
    height: 50px;
    width: 280px;
    margin-left: 50px;
    border: 1px solid #0f0f0f;
    text-indent: 10px;
    font-size: 18px;
}
.dangki button:hover{
    background-color: white;
}
.dangki .stores{
    margin-top: 20px;
}
.dangki .stores .block{
    float: left;
    margin-top: 20px;

}
.menu{
    width: auto;
    height: 80px;
    background-color:#f5f5f5;
    margin-top: 250px;
    text-align: center;
}
.menu ul li{
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    text-align: justify;
    background-color: #f5f5f5;

}
.menu ul li a{
    color: #222222;
}
.img{
    max-width: 100%;
}
.banquyen{
}
.anhduoi{
    height: 60px;
    margin-top: 20px;
}
.cot1 li{
    list-style: none;
}
.cot1{
    float: left;
}
.cot1 ul{
    padding-left: 0;
}
.block p{
    font-size: 15px;
}
.doimauchu a{
    color:#222222;
}

